form {
    width: 300px;
    margin: 0 auto;
}

select, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(140, 140, 140);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

input[type="submit"]:hover {
    background-color: yellowgreen;
}


.imagenPedido{
    width: 25%;
}

.divImagenes{
    display: flex;
    justify-content:space-evenly;
}

.textoPedido{
    margin-left: 10%;
    padding-left: auto;
    flex-direction: column;
    justify-content: space-between;
}


.btnCrear{
    display: flex;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: rgb(100, 100, 100);
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: 40%;
    justify-content: center;
}

.btnCrear:hover {
    background-color: #45a049;
}