.nuevoPedido {
    align-items: center;
    padding: 20px;
    flex-direction: row;
}

.nuevoPedido h2{
    width: 100%;
    justify-content: center;
}

.nuevoPedido button {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    border: 0;
    font-size: x-large;
    width:25%;
    padding-top: 12px;
    height: 55px;
    justify-content: center;
    min-width:fit-content;
    border-radius: 100px;
    background-color: rgb(140, 140, 140);
}
.nuevoPedido button:hover{
    color: white;
    background-color: #45a049;
    cursor: pointer;
}

.btnEliminar{
    display: flex;
    margin-left: 70%;
    margin-top: 2%;
    text-align: center;
    display: flex;
    border: 0;
    width:15%;
    justify-content: center;
    border-radius: 100px;
    background-color: rgb(140, 140, 140);
    margin-bottom: 4%;
}
.btnEliminar:hover{
    color: white;
    background-color: red;
    cursor: pointer;
}

.listaPedidos{
    margin-left: 10%;
    padding-left: auto;;
    flex-direction: column;
    justify-content: space-between;
    list-style:decimal;
}

.imagenPedido{
    width: 25%;
}

.pedidos{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.divImagenes{
    display: flex;
    justify-content:space-evenly;
}

@media (max-width:700px) {
    .nuevoPedido button {
        min-width:60%;
    }
}