@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=News+Cycle:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "News Cycle", sans-serif;
}

nav{
   background-color: black;
   height: 70px; 
   display: flex;
   flex-direction: row; 
   align-items: center;
   justify-content: space-between;
}

nav button{
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
}

nav ul{
    width: 30%;
    list-style: none;
    color:white;
    font-family: "News Cycle", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* alineación eje horizontal */
    height: 70px;
    align-items: center; /* centrado vertical - funciona porque el contenedor tiene altura */

}

.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;    
}

.sidebar{
    width: 30%;
    display: flex;
    flex-direction: column; 
}
.sidebar img{
    width: 375px;
    height: 375px;
}
.sidebar h2{
    color: darkgray;
    font-weight: 400;    
}

.content{
    width: 70%;
}
.content h2{
    text-align: center;
}
.repos{
    list-style: none;
}
.repos li{
    border-bottom: 1px black solid;
}
.repos li div{
    display: flex;
}
.repos li div h3{
    margin-right: 10px;
    color: blue;
}

@media (max-width:375px) {
    
    .container{
        width: 100%;
        flex-direction: column;
    }

    .content{
        width: 100%;
        padding: 10px;
    }

    .sidebar img{
        width: 175px;
        height: 175px;
    }
}